body {
  background-color: #f0f5e1; /* Verde claro */
}

.navbar {
  background-color: #2c662d; /* Verde oscuro */
}

.card-header {
  background-color: #2c662d; /* Verde oscuro */
  color: #fff; /* Texto blanco */
}

.card {
  background-color: #d1f7cf; /* Verde claro */
  border: 1px solid #2c662d; /* Borde verde oscuro */
}

.form-label {
  color: #2c662d; /* Verde oscuro */
}

.form-control {
  border: 1px solid #2c662d; /* Borde verde oscuro */
}

.form-control:focus {
  border-color: #5cb85c; /* Verde de enfoque */
  box-shadow: none; /* Sin sombra al enfocar */
}

.btn-primary {
  background-color: #2c662d; /* Verde oscuro */
  border-color: #2c662d; /* Borde verde oscuro */
}

.btn-primary:hover {
  background-color: #5cb85c; /* Verde de enfoque */
  border-color: #5cb85c; /* Borde de enfoque */
}
